@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>DEPOSIT</h1>
    <p class="lead">You can make a deposit by clicking on `DEPOSIT NOW!</p>
    <p>
    <a  href='@Url.Action("Index", "Banks")'>
        <img src="~/Content/Images/New .jpg" />
    </a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Saving 9%</h2>
     <img src="~/Content/Images/Saving.jpg"/>

        <p>
            <a data-ajax="true" data-ajax-method="GET" class="btn btn-success" data-ajax-mode="replace"
               data-ajax-success="OpenPopup" data-ajax-update="#result" href="/Home/Calculator?type=Saving">
                Calculator
                <i class="fa fa-calculator" aria-hidden="true"></i>
            </a>
        </p>

    </div>
    <div class="col-md-4">
        <h2>Accumulative 13%</h2>
        <img src="~/Content/Images/Accumulative.png" />
        <p>
            <a data-ajax="true" data-ajax-method="GET" class="btn btn-success" data-ajax-mode="replace"
               data-ajax-success="OpenPopup" data-ajax-update="#result" href="/Home/Calculator?type=Accumulative">
                Calculator
                <i class="fa fa-calculator" aria-hidden="true"></i>
            </a> 
        </p>
    </div>
    <div class="col-md-4">
        <h2>Family 12%</h2>
       <img src="~/Content/Images/Family.jpg"/>
        <p>
            <a data-ajax="true" data-ajax-method="GET" class="btn btn-success" data-ajax-mode="replace"
               data-ajax-success="OpenPopup" data-ajax-update="#result" href="/Home/Calculator?type=Family">
                Calculator
                <i class="fa fa-calculator" aria-hidden="true"></i>
            </a> 
        </p>
    </div>
</div>
