
@{
    ViewBag.Title = "Congratulations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Congratulations to you your deposit is successfully accepted</h2>
<div>
    @Html.ActionLink("Back to Home", "Index", "Home")
</div>

